
backend_config.ini

v3.05/
v3.05/bp-sim-64
v3.05/bp-sim-64-debug
latest

terraform/variables.tf
terraform/.terraform.lock.hcl

__pycache__/


*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log

**/.terraform/*
*.tfstate
*.tfstate.*

*.tfvars

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

